* {
    box-sizing: border-box;
  }
  :root {
    font-size: min(calc(1em + 1vw), 4em);
  }

  html {
    --white: #ffffff;
    --dark-blue: #090940;
    --orange: #feb51e;
    --broodtekst: "yrsa", "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
    --rigid: rigid-square, sans-serif;

    
  }

  p, a {
    font-family: var(--rigid);
    color: var(--dark-blue);
    

  }

  
  body > * {
    min-height: 1em;
  }

  /* ----------grid layout--------------------- */
  body {
    display :grid;
    row-gap: 5px;
    grid-template-columns: 4fr 2.9fr 4fr;
    grid-template-rows: 0.4fr 0.2fr 7fr 0.2fr;
    grid-template-areas:
    'L h h'
    'n n n'
    'm m m'
    'f f f'
    ;

  }  
  


/* ------------------huis style-------------- */

h1 {
  font-size: 63.15px;
}

h2 {
  font-size: 47.37px;
}

h3 {
  font-size: 35.54px;
}

h4 {
  font-size: 26.66px;
  
}

h5 {
  font-size: 20px;
  font-weight: 400;
}

h6 {
  font-size: 15px;
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
h6 {


  font-family: var(--rigid)!important;
}

  /* --------------------Logo----------------------  */

.Logo {
  max-height: -webkit-fill-available;
  margin-left: 2em;
}



/* --------------HEADER----------------------- */
  
header {

  
  grid-area: h;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  /* column-gap: 2em; */
 
  
  
  
  
}

header {
color:rgb(14, 14, 174);
font-family: var(--rigid);
max-height: -webkit-fill-available;
    margin-right: 2em;
}


header > button {
  width: 6em;
  color:rgb(14, 14, 147);
  font-family: var(--rigid);
  border: none;
  background-color: white;
  cursor: pointer;
  font-size: x-large;

}

header > button > a {
  text-decoration: none;

}








  

/* ----------------------NAV--------------------------------- */
  nav {
    grid-area: n;
    border-bottom-style: solid;
    border-top-style: solid;
    border-width: 1.5px;
    border-color: rgb(112, 112, 112);


    display: flex;
 

    align-content: center;
    flex-direction: column;
    justify-content: center;
 
    margin-top: auto;
    margin-bottom: auto;
    }

    .topnav {
      display: flex;
      justify-content: left;
      flex-direction: row;
  
      align-content: center;
      max-height: -webkit-fill-available;
      margin-left: 2em;
 

    }

.topnav > input {

  border: none;
  vertical-align: super;
  width:-webkit-fill-available;
}    

.searchicon {

  margin-top: -9px;
  z-index: -1;
}

/* navbar--> progresbar---------------------------- */

.greenProgresBar {
  background-color: rgb(68, 221, 68);
  height: 0.3em;
  width: 0%;
  
}

/* .plusProgresBar {
  width: 50%;
  animation-name: progresbarplus;
} */



.grayProgresBar {
  background-color: gray;
 margin-top: 0.5em;
 margin-bottom: 0.5em;
margin-left: 2em;
margin-right: 2em;
height: 0.3em;
}

/* main index hexagons--------------------------------- */
.hexagons {
  /* max-width: 100em; */
  margin-top: -1em;
  margin-bottom: 6em;
  margin-left: -1em;
  margin-right: -2em;

}

.blocks-3{
  text-align: center;
  
}

.blocks-4{
  text-align: center;
}

.hexagon {
  margin-top: 90px;
  margin-right: 10px;
  width: 300px;
  height: 173.205px;
  background: red;
  position: relative;
  display: inline-block;
}


.hexagon::before {
  content: "";
  position: absolute;
  top: -86.6025px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-bottom: 86.6025px solid red;
}
.hexagon::after {
  content: "";
  position: absolute;
  bottom: -86.6025px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 86.6025px solid red;
}

/* hexagon content holder -------------------*/
  
.hexagonContentHolder {
  position: absolute;
  width: 100%;
  height: 100%;
  

}

.hexagonContentHolder > a {
  text-decoration: none;
}

.hexagonContentHolder > p {
  margin-top: -30px;
}

/* individuele hexagons -------------------------------*/


/* hexagon wit */
#hexagon2,  #hexagon3, #hexagon6 {
  background-color: var(--white);

}
#hexagon2::after, #hexagon3::after, #hexagon6::after{
  border-top: 86.6025px solid white;
}

#hexagon2::before, #hexagon3::before,  #hexagon6::before{
  border-bottom: 86.6025px solid var(--white);
}

/* hexagon grijs */

#hexagon1, #hexagon4, #hexagon8, #hexagon12 , #hexagon11, #hexagon14 {
  background-color: rgb(228, 226, 226);
}

#hexagon1::after, 
#hexagon4::after,
#hexagon8::after, 
#hexagon12::after,
#hexagon11::after,
#hexagon14::after {
  border-top: 86.6025px solid rgb(228, 226, 226);
}

#hexagon1::before,
#hexagon4::before,
#hexagon8::before, 
#hexagon12::before,
#hexagon11::before,
#hexagon14::before {
  border-bottom: 86.6025px solid rgb(228, 226, 226);
}
/* hexagon light rood */

#hexagon5 {
  background-color: rgb(249,108,80);
  z-index: 1;


}

#hexagon5::before {
  border-bottom: 86.6025px solid rgb(249,108,80);
}

#hexagon5::after {
  border-top: 86.6025px solid rgb(249,108,80);
}

#hexagon5 > h3 {
  z-index: 10;

}

#hexagon5 > p {
  z-index: 10;
}


/* hexagon geel */
#hexagon7 {
  background-color: rgb(254,181,31);
}

#hexagon7::before {
  border-bottom: 86.6025px solid rgb(254,181,31);
}

#hexagon7::after {
  border-top: 86.6025px solid rgb(254,181,31);
}
/* hexagon ligt blauw */

#hexagon9 {
  background-color: rgb(103,197,209);
}

#hexagon9::before {
  border-bottom: 86.6025px solid rgb(103,197,209);
}

#hexagon9::after {
  border-top: 86.6025px solid rgb(103,197,209);
}
  /* hexagon donker blauw */

#hexagon10 {
  background-color: rgb(49,67,156);
}

#hexagon10::before {
  border-bottom: 86.6025px solid rgb(49,67,156);
}

#hexagon10::after {
  border-top: 86.6025px solid rgb(49,67,156);
}

  /* hexagon groen  */

  #hexagon13 {
    background-color: rgb(22,152,97);
  }
  
  #hexagon13::before {
    border-bottom: 86.6025px solid rgb(22,152,97);
  }
  
  #hexagon13::after {
    border-top: 86.6025px solid rgb(22,152,97);
  }

  /* hexagon conten */

#hexagon11 {


  text-align: center;
}

#hexagon11p {
  z-index: 10;
  color: red;
  margin: 0;
}

/* hexagon buttons */

.cursusButton {
  background: none;
  border: none;
  cursor: pointer;
}

.cursusButton > p {
  font-size: 24px;
  margin-top: -30px;
  
}





/* ---------------------------MAIN---------------------------- */

  main {
    /* ÷display: flex; */
    grid-area: m;
    justify-content: center;
    text-align: center;
    margin: 2em; 
    /* margin-top: 1em; */
  }

  



  .slider-wrapper {
    margin: 1rem;
    position: relative;
    overflow: hidden;
    /* scroll-snap-stop: always; */
    margin-top: -1em;
  }
  
  .slides-container {
    height: calc(85vh - 2rem);
    width: 100%;
    display: flex;
    overflow: hidden;
    scroll-snap-align: center;
    scroll-behavior:smooth;
    /* scroll-snap-align: center; */
    list-style: none;
   

    margin: 0;
    padding: 0;
  }
  

  .slide-arrow {
    position: absolute;
    display: flex;
    bottom: 10px;
    margin: auto;
    height: 2rem;
    border: none;
    background-color: white;
    width: 2rem;
    font-size: 2rem;
    padding: 0;
    cursor: pointer;
    justify-content: center;
  }

  /* .slide-arrow-none {
    background-color: #090940;
  } */

  

  .jump {
    animation-name: jump;
    animation-timing-function: cubic-bezier(0.28, 0.84, 0.42, 1);
    animation-duration: 1.2s;
    animation-iteration-count: 1;
  }
  
  @keyframes jump {
    0% {
      transform: scale(1, 1) translateY(0);
    }
    10% {
      transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
      transform: scale(0.9, 1.1) translateY(-5rem) rotate(10deg);
    }
    50% {
      transform: scale(1.05, 0.95) translateY(0);
    }
    57% {
      transform: scale(1, 1) translateY(-0.5rem) rotate(-2deg);
    }
    64% {
      transform: scale(1, 1) translateY(0);
    }
    100% {
      transform: scale(1, 1) translateY(0);
    }
  }
  
  
  #slide-arrow-prev {
    left: 10px;
    
  }
  
  #slide-arrow-next {
    right: 10px;
   
  }
  
  .slide {
    width: 100%;
    height: 100%;
    flex: 1 0 100%;
    color:#090940;
    display: inline-block;
    
  }
  
  .slide:nth-child(1), .slide:nth-child(7),.slide:nth-child(8) {
    background-color: #090940;
    color: white;
    padding: 4rem;
  }
  
  
  .slide:nth-child(2), 
  .slide:nth-child(3),
  .slide:nth-child(4), 
  .slide:nth-child(5), 
  .slide:nth-child(6) {
    border-width: 5px;
    border-style: solid;
    border-right-style: 6px;
    display: inline-block;
  
    /* border-left-style: solid; */

  }


/* handlettering content---------------------  */

#content1{
  margin-top: 2em;
}

#content1a {
  color: white!important;
}

  #pencils {
    margin-top: 2em;
  }
/* contten 2 */
#handLettering1mp4 {
  margin-top: -1em;
}

#content2 > h3 {
  margin-top: 2em;
}
/* content 3 */
#content3 > p {
  padding-left: 8em;
  padding-right: 6em;
  text-align: left;
}



/* content 4 */
#handLettering2mp4 {
  margin-top: -1em;
}
#content4 > h3 {
  margin-top: 2em;
}
/* content 5  */
#content5 > h3 {
  margin-top: 2em;
}
/* content 6 */
#content6 > h3 {
  margin-top: 2em;
}

#content6p {    
  text-align: left;
  margin-left: 20%;
  margin-right: 20%;
  margin-bottom: 2em;
}

#content6 > a {
  margin-top: 1em;
  background-color:#090940;
  color: white;
}

.list > li {
  margin-bottom: .5em;
  list-style: none;
}

.list > li > a {
  background-color: var(--dark-blue);
  color: var(--white);
}

.greenProgresBar {
  width: 1em;
}

  /*mensentekenen-------------------  */
  #mensenTekenenContent1, #mensenTekenenContent3, #mensenTekenenContent4{
    width: 20em;
    display: inline-block;
    text-align: left;
  }


  /* content1 */
  #mensenTekenenContent1 {
    margin-top: -3em;
    text-align: -webkit-center;
  }
  #mensenTekenenContent1 > h3{
  margin-top: 1em;
  width: 20em;
  }

  #mensenTekenenContent1p {
    color: var(--white);
  }

  /* content 2 */
  #mensenTekenenContent2 > h3{
    margin-top: 2em;
  };
  /* content 3 */
  #mensenTekenenContent3 > p {
    margin-top: 5em;

  }

  #mensenTekenenContent3 {
    margin-top: 7em;
  }

  /* content 4 */
  #mensenTekenenContent4 > h3{
    text-align: center;
    margin-top: 2em;
  }
  #mensenTekenenVideo2 {
    position: relative;
    left: 18em;
    bottom: 17em;
    z-index: -1;

  }

  /* content 5 */

  #mensenTekenenContent5 > h3 {
    margin-bottom: -2em;
    margin-top: 1em;
  }

  /* content 6 */
  #mensenTekenenContent6 {
    margin-top: 3em;
  }
  
  #mensenTekenenContent6 > p {
    text-align: left;
    width: 19em;
    margin-left: 30%;
    font-size: 30px;
  }

  /* content7 */
  #mensenTekenenContent7 > h3 {
    color: #090940;
  }

  #mensenTekenenContent7 > p {
    width: 20em;
    text-align: left; 
    margin-left: 28%;
  }

  #mensenTekenenContent7li {
    background-color: white;
    border-width: 5px;
    border-style: solid;
    border-right-style: 1px; 
    border-color: #090940;
   }

   /* content 8 */
   #mensenTekenenContent8 > p {
    color: white;
   }
 

   /* basis vormen */

   /* content 1 */
   #basisVormen1 > h3 {
    margin-top: -2em;
   }


   #basisVormen1 > p  {
    margin-top: 2em;
    color: var(--white);
   }
  
   #basisVormen1 > img {
    margin-top: 2em;
   }

   /* content 2 */

   /* conten 3 */

   /* content 4 */

   #basisVormen4 {
    margin-top: 2.5em;
    margin-left: 3em;
   }

   #basisVormen4 > p {
    text-align: left;
    width: 18rem;
    font-size: 25px;
    
   }

   #basisVormen2mp4 {
    position: relative;
    left: 9em;
    bottom: 15em;
    z-index: -1;
    
   }

   /* basisVormen5 */
   #basisVormen5 > h3 {
    margin-top: 2em;
   }
   
   #basisVormen5 > p {
    text-align: left;
    width: 17em;
    margin-left: 13em;
   }

   /* structuurenkleurconten1t */
#structuurenkleurcontent1 {
  margin-top: -2em;
}  

#structuurenkleurcontent2 {
  margin-top: 2em;
}

#structuurenkleurcontent3 > p {
  width: 20em;
  text-align: left;
  margin-left: 12em;
  margin-top: 2em;
}

#structuurenkleurcontent4 > h3 {
  margin-top: 6em;
  text-align: center;
  
}



  




/* ///////////top image index////////////////// */
  
.topimage {

  text-align: center;
  
  
  
  
}

.topimage > img {  
  
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 0.5em;
  height: 11em;
  margin-top: -1.4em;

   }

  .topimage > h4 {
    color: black;
    
  }

  /* /////////opmaak content main///////////////// */

.startButton {

  font-family: var(--rigid);
  font-size: 1em;
  font-weight: 800;
  padding: 0.75rem 1rem;
  border: none;
  color:#090940;
  background-color: #feb51e;
  /* background-size: 400%; */
  transition: 0.2s ease-in;
  cursor: pointer;
}

.startButton:hover {
  background-position: right center;
  transform: scale(1.05);
  opacity: 0.9;
  background-color:#feb51e;
  
}

.startButton > a {
  text-decoration: none;
  

}






 /*-----------------------FOOTER------------------------------- */

  
  footer {

    grid-area: f;
    margin-top: 2em;
 
   
  }



  footer > img {
    width: -webkit-fill-available;
    position: absolute;
    left: 0;

  }

 



 